.wrapper {
    width: 100vw;
}

.navbar {
    background-color: var(--secondary-color) !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0;

    .navbar-brand {
        color: white !important;
        font-family: 'Nexa-Bold';
        font-size: 1.5rem;
        padding-left: 20px;
    }

    .nav-link {
        color: rgba(255,255,255,0.8) !important;
        font-family: 'Nexa';
        font-size: 1.1rem;
        transition: color 0.3s ease;
        padding: 1.2rem 1rem;
        cursor: pointer;

        &:hover, &.active {
            color: white !important;
            background-color: var(--primary-color);
            font-weight: bold;
        }
    }

    .navbar-toggler {
        background-color: white;
        margin-right: 1rem;
    }

    .dropdown-menu {
        background-color: var(--secondary-color);
        border: 1px solid var(--primary-color);
        right: 0;
        left: auto;
        
        .dropdown-item {
            color: white;
            cursor: pointer;
            &:hover {
                background-color: var(--primary-color);
                color: white;
            }
        }
    }

    .btn {
        color: white;
        font-size: 1.5rem;
        &:hover {
            color: var(--primary-color);
        }
    }
}
